@import url("https://fonts.googleapis.com/css2?family=Tapestry&display=swap");
* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: 'Tapestry', cursive !important;
  font-size: 18px !important;
  color: black !important;
}

.header img {
  width: 250px;
  height: 80px;
}

.navbar-nav a {
  color: #8a0d83 !important;
}

/***************INDEX**************/
.hero {
  background: url(../img/Baddies\Girls\Nails.png);
  width: 100%;
  height: 80vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical !important;
  -webkit-box-direction: normal !important;
      -ms-flex-direction: column !important;
          flex-direction: column !important;
  color: #8a0d83;
}

.hero h1 {
  font-size: 60px;
  font-weight: bold;
}

.hero p {
  font-size: 30px;
}

.hero a {
  background-color: #8a0d83;
  text-decoration: none;
  color: white;
  font-size: 30px;
  margin-top: 30px;
  padding: 10px;
  border-radius: 15px;
  -webkit-transition: 1s;
  transition: 1s;
}

.hero a:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.main {
  background-color: #d9c0ff;
}

.especialidades {
  margin: 20px 0 0 0;
  padding: 10px;
}

.especialidades h2 {
  text-align: center;
  margin: 2px;
}

.especialidades div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.especialidades div figure img {
  height: 300px;
  width: 400px;
  -webkit-transition: 1s;
  transition: 1s;
}

.especialidades div figure img:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

/***************SERVICIOS****************/
.mainServicios {
  background-color: #d9c0ff;
}

.servicios h2 {
  background-color: #8a0d83;
  width: 100%;
  color: black;
  font-weight: 900;
  font-size: 40px;
  text-align: center;
  padding: 10px;
}

.servicios div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.servicios div div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical !important;
  -webkit-box-direction: normal !important;
      -ms-flex-direction: column !important;
          flex-direction: column !important;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 2px solid black;
  border-radius: 15px;
  width: 300px;
  height: 500px;
  text-align: center;
  -webkit-box-shadow: 10px 10px 24px -7px rgba(0, 0, 0, 0.75);
          box-shadow: 10px 10px 24px -7px rgba(0, 0, 0, 0.75);
  -webkit-transition: 1s;
  transition: 1s;
  margin: 20px 0 20px 0;
}

.servicios div div img {
  height: 300px;
  width: 300px;
  border-radius: 15px;
}

.servicios div div a {
  background-color: blueviolet;
  font-size: 20px;
  font-weight: 500;
  color: black;
  padding: 10px;
  border-radius: 10px;
  text-decoration: none;
}

.servicios div div:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

/***************QUIENES-SOMOS*****************/
.mainQS {
  background-color: #d9c0ff;
}

.heroQS {
  background: url(../img/retirado\Semi.jpg);
  width: 100%;
  height: 80vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical !important;
  -webkit-box-direction: normal !important;
      -ms-flex-direction: column !important;
          flex-direction: column !important;
  color: #8a0d83;
}

.heroQS h1 {
  font-size: 60px;
  font-weight: bold;
}

.heroQS p {
  font-size: 40px;
}

.presentacion {
  font-size: 30px;
  text-align: center;
}

/***************CUIDADOS*****************/
.mainCuidados {
  background-color: #d9c0ff;
}

.mainCuidados h2 {
  text-align: center;
}

.mainCuidados img {
  height: 600px;
  width: 500px;
}

.secciones {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical !important;
  -webkit-box-direction: normal !important;
      -ms-flex-direction: column !important;
          flex-direction: column !important;
}

.secciones .section__cuidadosUno div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.secciones .section__cuidadosDos div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.secciones .section__cuidadosTres div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.secciones .tituloParrafo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical !important;
  -webkit-box-direction: normal !important;
      -ms-flex-direction: column !important;
          flex-direction: column !important;
  margin: 40px;
}

/***************CONTACTO*****************/
.maincontacto {
  background-color: #d9c0ff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.contacto {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical !important;
  -webkit-box-direction: normal !important;
      -ms-flex-direction: column !important;
          flex-direction: column !important;
  width: 700px;
  padding: 25px;
}

/****************ABM*****************************/
.mainAbm {
  background-color: #d9c0ff;
}

.contenedor {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-box-orient: vertical !important;
  -webkit-box-direction: normal !important;
      -ms-flex-direction: column !important;
          flex-direction: column !important;
  -webkit-box-align: center !important;
      -ms-flex-align: center !important;
          align-items: center !important;
}

.contenedor_cabecera {
  text-align: center;
  font-weight: bold;
  text-decoration: underline;
  padding: 1rem;
}

.contenedorTabla {
  padding: 2rem;
  width: 70% !important;
}

.footer {
  height: 120px !important;
  background-color: black !important;
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-box-pack: justify !important;
      -ms-flex-pack: justify !important;
          justify-content: space-between !important;
  -webkit-box-align: center !important;
      -ms-flex-align: center !important;
          align-items: center !important;
  color: white !important;
}

.footer h3 {
  font-family: 'Tapestry', cursive !important;
  font-size: 18px !important;
  font-weight: bold !important;
}

.footer img {
  width: 250px !important;
  height: 120px !important;
}

.redes a {
  text-decoration: none;
  font-size: 20px;
  margin-left: 3px;
  color: white;
}

@media screen and (max-width: 944px) {
  .footer p {
    font-size: 15px !important;
  }
}

@media screen and (max-width: 900px) {
  .mainCuidados img {
    width: 400px;
    height: 500px;
  }
}

@media screen and (max-width: 898px) {
  .heroQS p {
    font-size: 37px;
    font-weight: bold;
  }
}

@media screen and (max-width: 885px) {
  .footer p {
    font-size: 10px !important;
  }
}

@media screen and (max-width: 725px) {
  .footer img {
    width: 190px !important;
  }
}

@media screen and (max-width: 690px) {
  .section__cuidadosUno div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .section__cuidadosDos div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-orient: vertical !important;
    -webkit-box-direction: reverse !important;
        -ms-flex-direction: column-reverse !important;
            flex-direction: column-reverse !important;
  }
  .section__cuidadosTres div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
}

@media screen and (max-width: 420px) {
  .footer h3 {
    font-size: 15px !important;
  }
  .footer p {
    font-size: 10px !important;
  }
}
/*# sourceMappingURL=styles.css.map */