@import url('https://fonts.googleapis.com/css2?family=Tapestry&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Tapestry', cursive !important;
    font-size: 18px !important;
    color: black !important;
}

.container {
    display: grid;
    grid-auto-columns: 1fr;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 0.5fr auto 0.5fr;
    grid-template-areas:
        "header header"
        "main main"
        "footer footer";
    grid-gap: 2px;
}

/*------------------HEADER/NAV--------------------*/

.header {
    grid-area: header;
    height: 80px;
    background-color: #d9c0ff;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header img {
    width: 250px;
    height: 150px;
}

.header nav ul {
    list-style: none;
    display: flex;
}

.header nav ul li {
    margin-left: 15px;
    margin-right: 10px;
}

.header nav ul li a {
    text-decoration: none;
    text-transform: uppercase;
    color: black;
}

.header nav ul li a:hover {
    color: rgb(138, 13, 131);
    transition: 1s;
}

/*-----------------MAIN------------------------*/

.hero {
    width: 100%;
    height: 80vh;
    background: url(../img/Baddies\ Girls\ Nails.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    color: rgb(138, 13, 131);
}

.hero h1 {
    font-size: 60px;
    font-weight: bold;
}

.hero p {
    font-size: 30px;
}

.hero a {
    background-color: rgb(138, 13, 131);
    text-decoration: none;
    color: white;
    font-size: 30px;
    margin-top: 30px;
    padding: 10px;
    border-radius: 15px;
}

.main {
    grid-area: main;
    background-color: #d9c0ff;
}

.especialidades {
    margin: 20px 0 20px 0;
}

.especialidades h2 {
    text-align: center;
}

.especialidades>div {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

.especialidades div figure img {
    height: 300px;
    width: 400px;
}

/*-----------------------MAIN--SERVICIOS-----------------*/

.mainServicios {
    grid-area: main;
    background-color: #d9c0ff;

}

.servicios>div {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.servicios>div div {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border: 2px solid black;
    border-radius: 15px;
    width: 300px;
    height: 450px;
    text-align: center;
    box-shadow: 10px 10px 24px -7px rgba(0, 0, 0, 0.75);
}

.servicios div div a {
    background-color: blueviolet;
    font-size: 20px;
    font-weight: 500;
    color: black;
    padding: 10px;
    border-radius: 10px;
    text-decoration: none;
}

.servicios h2 {
    font-size: 40px;
    text-align: center;
    padding: 10px;
}

.servicios div div img {
    height: 300px;
    width: 300px;
    border-radius: 15px;
}

/*--------------------------MAIN---CUIDADOS----------------*/

.mainCuidados {
    grid-area: main;
    background-color: #d9c0ff;
}

.mainCuidados h2 {
    text-align: center;
}

.section__cuidadosUno>div {
    display: flex;
    align-items: center;
}

.section__cuidadosUno div img {
    height: 600px;
    width: 500px;
}

.section__cuidadosUno div .tituloParrafo {
    margin: 40px;
}

.section__cuidadosDos>div {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;

}

.section__cuidadosDos div .tituloParrafo {
    margin: 40px;
}

.section__cuidadosDos div img {
    height: 600px;
    width: 500px;
}

.section__cuidadosTres>div {
    display: flex;
    flex-direction: row;
    align-items: center;

}

.section__cuidadosTres div .tituloParrafo {
    margin: 40px;
}

.section__cuidadosTres div img {
    height: 600px;
    width: 500px;
}

/*----------------------------FOOTER-----------------------*/

.footer {
    grid-area: footer;
    height: 120px !important;
    background-color: black !important;
    display: flex !important;
    justify-content: space-between !important;
    align-items: center !important;
    color: white !important;
}

.footer h3 {
    font-family: 'Tapestry', cursive !important;
    font-size: 18px !important;
    font-weight: bold !important;

}

.footer>img {
    width: 250px !important;
    height: 120px !important;
}

/*------------MQ------------*/

@media screen and (max-width:1319px) {
    .sectionServicios__uno img {
        height: 300px;
        width: 300px;
    }

    .sectionServicios__dos img {
        height: 300px;
        width: 300px;
    }

    .section__cuidadosTres div .tituloParrafo {
        margin: 40px;
        font-size: 30px;
    }

}

@media screen and (max-width:1229px) {
    .section__uno div div img {
        height: 300px;
        width: 350px;
    }

}