@import "../base/variable";

/***************INDEX**************/
.hero {
    width: 100%;
    height: 80vh;
    background: url(../img/Baddies\Girls\Nails.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    color: $terciario;

    h1 {
        font-size: 60px;
        font-weight: bold;
    }

    p {
        font-size: 30px;
    }

    a {
        background-color: $terciario;
        text-decoration: none;
        color: $opcional;
        font-size: 30px;
        margin-top: 30px;
        padding: 10px;
        border-radius: 15px;
        transition: 1s;

        &:hover {
            transform: scale(1.1);
        }
    }
}

.main {
    background-color: $primario;
}

.especialidades {
    margin: 20px 0 0 0;
    padding: 10px;

    h2 {
        text-align: center;
        margin: 2px;
    }

    div {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: center;

        figure {
            img {
                height: 300px;
                width: 400px;
                transition: 1s;

                &:hover {
                    transform: scale(1.1);
                }
            }
        }
    }
}

/***************SERVICIOS****************/
.mainServicios {
    background-color: $primario;
}

.servicios {
    h2 {
        background-color: $terciario;
        width: 100%;
        color: white;
        font-weight: 900;
        font-size: 40px;
        text-align: center;
        padding: 10px;
    }

    div {
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-wrap: wrap;

        div {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
            border: 2px solid $secundario;
            border-radius: 15px;
            width: 300px;
            height: 500px;
            text-align: center;
            box-shadow: 10px 10px 24px -7px rgba(0, 0, 0, 0.75);
            transition: 1s;
            margin: 20px 0 20px 0;

            img {
                height: 300px;
                width: 300px;
                border-radius: 15px;
            }

            a {
                background-color: $terciario;
                font-size: 20px;
                font-weight: 500;
                color: $secundario;
                padding: 10px;
                border-radius: 10px;
                text-decoration: none;
            }

            &:hover {
                transform: scale(1.1);
            }
        }
    }
}

/***************QUIENES-SOMOS*****************/
.mainQS {
    background-color: $primario;
    margin: 2px 0 2px 0;
}

.heroQS {
    width: 100%;
    height: 80vh;
    background: url(../img/retirado\Semi.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    color: $terciario;

    h1 {
        font-size: 60px;
        font-weight: bold;
    }

    p {
        font-size: 40px;
    }
}

.presentacion {
    font-size: 30px;
    text-align: center;
}

/***************CUIDADOS*****************/
.mainCuidados {
    background-color: $primario;

    h2 {
        text-align: center;
    }

    img {
        height: 600px;
        width: 500px;
    }
}

.section__cuidadosUno {
    div {
        display: flex;
        align-items: center;
    }
}

.section__cuidadosDos {
    div {
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
    }
}

.section__cuidadosTres {
    div {
        display: flex;
        flex-direction: row;
        align-items: center;
    }
}

.tituloParrafo {
    margin: 40px;
}

/***************CONTACTO*****************/
.maincontacto {
    background-color: $primario;
    display: flex;
    justify-content: center;
    margin: 2px 0 2px 0;
}

.contacto {
    display: flex;
    flex-direction: column;
    width: 700px;
    padding: 25px;
}