@media screen and (max-width:944px) {
    .footer{
        p{
            font-size: 15px !important;
        }
    }

}

@media screen and (max-width:900px) {
    .mainCuidados {
        img{
            width: 400px;
            height: 500px;
        }
    }

}

@media screen and (max-width:898px) {
    .heroQS {
        p{
            font-size: 37px;
            font-weight: bold;
        }

    }

}

@media screen and (max-width:885px) {
    .footer{
        p{
            font-size: 10px !important;
        }
    }

}

@media screen and (max-width:725px) {
    .footer{
       img{
        width: 190px !important;
       }
    }

}

@media screen and (max-width:690px) {
    .section__cuidadosUno {
        div {
            display: flex;
            flex-wrap: wrap;
            flex-direction: column-reverse;
        }
    }
    .section__cuidadosDos {
        div {
            display: flex;
            flex-wrap: wrap;
            flex-direction: column-reverse !important;
        }
    }
    .section__cuidadosTres {
        div {
            display: flex;
            flex-wrap: wrap;
            flex-direction: column-reverse;
        }
    }

}

@media screen and (max-width:420px) {
    .footer{
        h3{
            font-size: 15px !important;
        }
        p{
            font-size: 10px !important;
        }
    }

}